In [2]:
import numpy as np
import pandas as pd

In [4]:
train = pd.read_csv("../data/pre/train.csv")
train.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,170000,NaN,3089,2798058,293,1,1
1,0,170000,NaN,1259,463234,6161,1,2
2,0,170000,NaN,4465,1857485,7434,4,1
3,0,170000,NaN,1004,2038823,977,1,1
4,0,170000,NaN,1887,2015141,3688,1,1

In [6]:
train.shape

(3749528, 8)

In [5]:
ad = pd.read_csv("../data/pre/ad.csv")
ad.head()

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1

In [7]:
ad.shape

(6582, 6)

In [8]:
app_cate = pd.read_csv("../data/pre/app_categories.csv")
print app_cate.shape
app_cate.head()

(217041, 2)

   appID  appCategory
0     14            2
1     25          203
2     68          104
3     75          402
4     83          203

In [9]:
position = pd.read_csv("../data/pre/position.csv")
print position.shape
position.head()

(7645, 3)

   positionID  sitesetID  positionType
0        2150          1             0
1        2579          1             0
2        3322          1             0
3        5726          1             0
4        4522          2             0

In [10]:
test = pd.read_csv("../data/pre/test.csv")
print test.shape
test.head()

(338489, 8)

,instanceID,label,clickTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,1,-1,310000,3745,1164848,3451,1,3
1,2,-1,310000,2284,2127247,1613,1,3
2,3,-1,310000,1456,2769125,5510,2,1
3,4,-1,310000,4565,9762,4113,2,3
4,5,-1,310000,49,2513636,3615,1,3

In [11]:
user = pd.read_csv("../data/pre/user.csv")
print user.shape
user.head()

(2805118, 8)

,userID,age,gender,education,marriageStatus,haveBaby,hometown,residence
0,1,42,1,0,2,0,512,503
1,2,18,1,5,1,0,1403,1403
2,3,0,2,4,0,0,0,0
3,4,21,2,5,3,0,607,607
4,5,22,2,0,0,0,0,1301

In [12]:
user_app = pd.read_csv("../data/pre/user_app_actions.csv")
print user_app.shape
user_app.head()

(6003471, 3)

   userID  installTime  appID
0       1       182032    933
1       5       141354    589
2       5       251727    565
3       5       260932    596
4       5       261318    536

In [13]:
user_install = pd.read_csv("../data/pre/user_installedapps.csv")
print user_install.shape
user_install.head()

(84039009, 2)

   userID  appID
0       1    357
1       1    360
2       1    362
3       1    365
4       1    375