In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [19]:
ad = pd.read_csv("../data/pre/ad.csv")
ad.head()

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1

In [13]:
d = ad.groupby('creativeID')['adID'].agg({'count':'count'})
d.head()

/home/hadoop/jqk/env2.7/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

            count
creativeID
1               1
2               1
3               1
4               1
5               1

In [14]:
d.reset_index(inplace=True)
d.head()

   creativeID  count
0           1      1
1           2      1
2           3      1
3           4      1
4           5      1

In [18]:
d[d['count']>1].shape

(0, 2)

In [3]:
d = ad.groupby('adID')['creativeID'].count()
d.head()

adID
1    3
2    3
3    2
4    1
5    1
Name: creativeID, dtype: int64