In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
train = pd.read_csv('../data/pre/train.csv')
train.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,170000,NaN,3089,2798058,293,1,1
1,0,170000,NaN,1259,463234,6161,1,2
2,0,170000,NaN,4465,1857485,7434,4,1
3,0,170000,NaN,1004,2038823,977,1,1
4,0,170000,NaN,1887,2015141,3688,1,1

In [11]:
d = train[(train['clickTime']>=270000)&(train['clickTime']<280000)][['userID','label']]
t = d[d['label']==1]
print t.shape,
d = d.groupby('userID',as_index=False)['label'].count()
d3 = d[d['label']>=2]
print d.shape,d3.shape,
td = d3.merge(t,on='userID')
print td.shape

(7649, 2) (257697, 2) (29310, 2) (1576, 3)

In [12]:
d = train[(train['clickTime']>=270000)&(train['clickTime']<280000)][['userID','creativeID','label']]
t = d[d['label']==1]
print t.shape,
d = d.groupby(['userID','creativeID'],as_index=False)['label'].count()
d3 = d[d['label']>=2]
print d.shape,d3.shape,
td = d3.merge(t,on='userID')
print td.shape

(7649, 3) (282601, 3) (11480, 3) (1247, 5)

In [13]:
d = train[(train['clickTime']>=260000)&(train['clickTime']<280000)][['userID','label']]
t = d[d['label']==1]
print t.shape,
d = d.groupby('userID',as_index=False)['label'].count()
d3 = d[d['label']>=2]
print d.shape,d3.shape,
td = d3.merge(t,on='userID')
print td.shape

(15385, 2) (496156, 2) (68691, 2) (3575, 3)

In [14]:
d = train[(train['clickTime']>=260000)&(train['clickTime']<280000)][['userID','creativeID','label']]
t = d[d['label']==1]
print t.shape,
d = d.groupby(['userID','creativeID'],as_index=False)['label'].count()
d3 = d[d['label']>=2]
print d.shape,d3.shape,
td = d3.merge(t,on='userID')
print td.shape

(15385, 3) (563533, 3) (24947, 3) (2605, 5)