In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv('../data/dup/train.csv')
train.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,170000,NaN,3089,2798058,293,1,1
1,0,170000,NaN,1259,463234,6161,1,2
2,0,170000,NaN,4465,1857485,7434,4,1
3,0,170000,NaN,1004,2038823,977,1,1
4,0,170000,NaN,1887,2015141,3688,1,1

In [6]:
for i in range(240000,310000,10000):
    d = train[(train['clickTime']>=i)&(train['clickTime']<i+10000)]
    print d[d['label']==1].shape,

(7382, 8) (7376, 8) (7736, 8) (7649, 8) (7343, 8) (7462, 8) (6308, 8)