In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
userActions = pd.read_csv('../data/dup/user_app_actions.csv')
userActions.head()

   userID  installTime  appID
0       1       182032    933
1       5       141354    589
2       5       251727    565
3       5       260932    596
4       5       261318    536

In [3]:
len(pd.unique(userActions['userID']))

781112

In [4]:
train = pd.read_csv('../data/dup/train.csv')
train.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,170000,NaN,3089,2798058,293,1,1
1,0,170000,NaN,1259,463234,6161,1,2
2,0,170000,NaN,4465,1857485,7434,4,1
3,0,170000,NaN,1004,2038823,977,1,1
4,0,170000,NaN,1887,2015141,3688,1,1

In [5]:
for i in range(240000,310000,10000):
    d = train[(train['clickTime']>=i)&(train['clickTime']<i+10000)]
    du =userActions[(userActions['installTime']>=i)&(userActions['installTime']<i+10000)]
    ud = pd.unique(d['userID'])
    udu = pd.unique(du['userID'])
    u = [uc for uc in ud if uc in udu]
    print len(u),

15293 13326 14485 0 14251 15272 17288

In [8]:
for i in range(240000,310000,10000):
    d = train[(train['clickTime']>=i)&(train['clickTime']<i+10000)]
    du =userActions[(userActions['installTime']<i)]
    ud = pd.unique(d['userID'])
    udu = pd.unique(du['userID'])
    u = [uc for uc in ud if uc in udu]
    print len(u),

61841 57966 66283 66828 63256 69575 78440

In [6]:
for i in range(240000,310000,10000):
    d = train[(train['label']==1)&(train['clickTime']>=i)&(train['clickTime']<i+10000)]
    du =userActions[(userActions['installTime']>=i)&(userActions['installTime']<i+10000)]
    ud = pd.unique(d['userID'])
    udu = pd.unique(du['userID'])
    u = [uc for uc in ud if uc in udu]
    print len(u),

1449 1440 1621 0 1871 1722 1339

In [7]:
for i in range(240000,310000,10000):
    d = train[(train['label']==1)&(train['clickTime']>=i)&(train['clickTime']<i+10000)]
    du =userActions[(userActions['installTime']<i)]
    ud = pd.unique(d['userID'])
    udu = pd.unique(du['userID'])
    u = [uc for uc in ud if uc in udu]
    print len(u),

2376 2438 2681 2722 2546 2536 2296