In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
user_actions = pd.read_csv('../data/dup/user_app_actions.csv')
print user_actions.shape
user_actions.head()

(6003471, 3)

   userID  installTime  appID
0       1       182032    933
1       5       141354    589
2       5       251727    565
3       5       260932    596
4       5       261318    536

In [3]:
print 'userID:',len(pd.unique(user_actions['userID']))
print 'appID:',len(pd.unique(user_actions['appID']))

userID: 781112
appID: 100923